@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  min-width: 200px;
  margin: auto;
}

header {
  background-color: #fff;
}
header .header {
  max-width: 1366px;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .header-logo {
  width: 2.2%;
  margin-top: 38px;
  margin-left: 7.2%;
  margin-bottom: 37px;
}
header .header .header-logo .logo-item {
  display: block;
  max-width: 100%;
}
header .header .header-logo .logo-item img {
  width: 100%;
  height: auto;
}
header .header .header-menu {
  list-style: none;
  margin-top: 45px;
  margin-bottom: 46px;
  padding-right: 7%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}
header .header .header-menu-item {
  width: 98px;
}
header .header .header-menu-item:nth-child(2) {
  width: 76px;
}
header .header .header-menu-item:nth-child(3) {
  width: 96px;
}
header .header .header-menu-item:nth-child(4) {
  width: 0;
}
header .header .header-menu a {
  float: right;
  color: #191919;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.9px;
  font-weight: bold;
}
header .header .header-menu a:hover {
  color: #10c9c3;
  letter-spacing: 1.2px;
}
header .header .header-menu #menu:hover {
  color: #10c9c3;
  letter-spacing: normal;
}
header .header .header-menu .icon {
  display: none;
}

section {
  background-color: #f5f5f5;
}
section .section {
  max-width: 1366px;
  width: 100%;
  margin: auto;
}
section .section .header-title {
  background: #f6f6f6;
  padding-top: 77px;
  padding-bottom: 92px;
}
section .section .header-title .nameSite1 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 3px;
  text-align: center;
  margin: auto;
  color: #171717;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -1px;
}
section .section .header-title .nameSite2 {
  color: #787878;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}
section .section .work-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .section .work-row div {
  flex: 1 1 341px;
  height: 300px;
  background-color: #838383;
  background-position: 50% 50%;
  background-size: cover;
}
section .section .work-row div:nth-child(1) {
  background-image: url(../img/img_1.jpg);
}
section .section .work-row div:nth-child(2) {
  background-image: url(../img/img_2.jpg);
}
section .section .work-row div:nth-child(3) {
  background-image: url(../img/img_3.jpg);
}
section .section .work-row div:nth-child(4) {
  background-image: url(../img/img_4.jpg);
}
section .section .work-row div:nth-child(5) {
  background-image: url(../img/img_5.jpg);
}
section .section .work-row div:nth-child(6) {
  background-image: url(../img/img_6.jpg);
}
section .section .work-row div:nth-child(7) {
  background-image: url(../img/img_7.jpg);
}
section .section .work-row div:nth-child(8) {
  background-image: url(../img/img_8.jpg);
}
section .section .work-row div:nth-child(9) {
  background-image: url(../img/img_9.jpg);
}
section .section .work-row div:nth-child(10) {
  background-image: url(../img/img_10.jpg);
}
section .section .work-row div:nth-child(11) {
  background-image: url(../img/img_11.jpg);
}
section .section .work-row div:nth-child(12) {
  background-image: url(../img/img_1.jpg);
}
section .section .work-row div img {
  width: 100%;
  height: 100%;
}
section .section .work-row div:nth-child(8n+1) {
  background-color: #dddddd;
}
section .section .work-row div:nth-child(8n+3) {
  background-color: #dddddd;
}
section .section .work-row div:nth-child(8n+6) {
  background-color: #dddddd;
}
section .section .work-row div:nth-child(8n+8) {
  background-color: #dddddd;
}
section .section .work-row div:hover img {
  background-color: #10c9c3;
  opacity: 0.75;
}
section .section .banner {
  width: 100%;
  max-height: 350px;
  background-image: url(../img/task36bgc-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #7e7e7e;
  color: #fff;
}
section .section .banner__text {
  max-width: 512px;
  margin: 0 auto;
  padding: 112px 0 116px;
  text-align: center;
}
section .section .banner__text h1 {
  font-family: "Montserrat", sans-serif;
  max-height: 30px;
  font-weight: bold;
  letter-spacing: 0.38px;
  margin-bottom: 40px;
}
section .section .banner__text h5 {
  max-height: 44px;
  font-weight: 400;
  line-height: 28px;
}
section .section .numbers {
  width: 100%;
  min-height: 240px;
  background-color: #10c9c3;
  color: #fff;
}
section .section .numbers .container1 {
  padding: 101px 14.7% 101px 7.6%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section .section .numbers .container1 .number {
  max-width: 231px;
  max-height: 38px;
  display: flex;
}
section .section .numbers .container1 .number span {
  max-width: 40px;
  max-height: 100%;
  display: flex;
  align-items: center;
}
section .section .numbers .container1 .number .content {
  max-width: 164px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  margin-left: 30px;
}
section .section .numbers .container1 .number .content .numb {
  letter-spacing: 0.54px;
}
section .section .numbers .container1 .number .content .text {
  font-size: 12px;
}
section .section .aboutMe {
  width: 100%;
  min-height: 570px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}
section .section .aboutMe_img {
  margin: 0;
  padding: 0;
  width: 50%;
  min-height: 570px;
  height: auto;
  background-image: url(../img/img_5.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #7e7e7e;
}
section .section .aboutMe_box {
  width: 50%;
  max-height: 100%;
  padding: 0 6.4%;
}
section .section .aboutMe_box__content {
  max-width: 454px;
  min-height: 290px;
  text-align: left;
}
section .section .aboutMe_box__content h2 {
  max-height: 22px;
  color: #171717;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin-bottom: 40px;
}
section .section .aboutMe_box__content p {
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 27px;
}
section .section .aboutMe_box__content img {
  max-height: 57px;
}
section .section .needAProject {
  width: 100%;
  min-height: 397px;
  background-color: #fff;
}
section .section .needAProject_box {
  max-width: 537px;
  min-height: 194px;
  margin: 0 auto;
  padding: 103px 0 100px;
  text-align: center;
}
section .section .needAProject_box .needAProject__text {
  text-align: center;
}
section .section .needAProject_box .needAProject__text h2 {
  max-height: 29px;
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 35px;
  font-weight: bold;
}
section .section .needAProject_box .needAProject__text p {
  max-height: 38px;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 38px;
}
section .section .needAProject_box a button {
  width: 176px;
  height: 50px;
  background-color: #10c9c3;
  border: 2px solid #10c9c3;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
section .section .needAProject_box a button:hover {
  border: 2px solid black;
}
section .section .contacts {
  min-height: 410px;
  padding: 100px 7.1%;
  display: flex;
  justify-content: space-between;
}
section .section .contacts .contact-info {
  width: 31.5%;
  min-height: 309px;
}
section .section .contacts .contact-info h2 {
  color: #171717;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: left;
  max-height: 22px;
  padding-bottom: 41px;
}
section .section .contacts .contact-info p {
  color: #787878;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  padding-bottom: 20px;
  letter-spacing: 0.08px;
}
section .section .contacts .contact-info address {
  color: #787878;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.08px;
  text-align: left;
  line-height: 36px;
}
section .section .contacts .contact-info address strong {
  color: #171717;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-right: 3px;
}
section .section .contacts .contact-form {
  width: 57.3%;
  min-height: 410px;
}
section .section .contacts .contact-form .form-text {
  font-size: 15px;
  padding-left: 3%;
  color: #787878;
}
section .section .contacts .contact-form .contact-form-name {
  width: 44.7%;
  height: 48px;
  border: none;
}
section .section .contacts .contact-form .contact-form-mail {
  width: 44.7%;
  height: 48px;
  border: none;
  float: right;
}
section .section .contacts .contact-form .contact-form-title {
  width: 97%;
  height: 48px;
  border: none;
  margin-top: 30px;
}
section .section .contacts .contact-form .contact-form-comment {
  width: 97%;
  height: 155px;
  border: none;
  padding-top: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section .section .contacts .contact-form .btn {
  width: 180px;
  height: 54px;
  background-color: #10c9c3;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1.2px;
  border: 2px solid #10c9c3;
}
section .section .contacts .contact-form .btn:hover {
  border: 2px solid #333333;
}
section .section .map-block {
  padding: 0 7.1% 100px;
}
section .section #map {
  background-color: #e0e0e0;
  width: 100%;
  height: 470px;
}

footer {
  background-color: #141414;
}
footer .footer {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  color: #bcbcbc;
  padding-top: 93px;
  padding-bottom: 100px;
}
footer .footer a {
  text-decoration: none;
  color: inherit;
}
footer .footer a:hover {
  color: #fff;
}
footer .footer .content {
  padding-left: 7.19%;
  padding-right: 9.6%;
  display: flex;
}
footer .footer .content .content1 {
  width: 22%;
  position: relative;
  left: 0;
  top: 2px;
}
footer .footer .content .content1 h5 {
  padding-bottom: 21px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
}
footer .footer .content .content1 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
}
footer .footer .content .content2 {
  width: 13.4%;
  position: relative;
  left: 19.5%;
}
footer .footer .content .content2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
}
footer .footer .content .content3 {
  width: 14.5%;
  position: relative;
  left: 32.2%;
  display: flex;
  justify-content: space-between;
}
footer .footer .content .content3 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
}
footer .footer .content .content4 {
  width: 13.4%;
  position: relative;
  left: 44.1%;
}
footer .footer .content .content4 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
}

@media screen and (max-width: 1380px) {
  section .section .work-row div:nth-child(2n+1) {
    background-color: #838383;
  }
  section .section .work-row div:nth-child(2n) {
    background-color: #dddddd;
  }
  section .section .work-row div:hover {
    background-color: #10c9c3;
    opacity: 0.85;
  }
}
@media screen and (max-width: 1034px) {
  section .section .work-row div:nth-child(4n+1) {
    background-color: #838383;
  }
  section .section .work-row div:nth-child(4n+2) {
    background-color: #dddddd;
  }
  section .section .work-row div:nth-child(4n+3) {
    background-color: #dddddd;
  }
  section .section .work-row div:nth-child(4n+4) {
    background-color: #838383;
  }
  section .section .work-row div:hover {
    background-color: #10c9c3;
    opacity: 0.85;
  }
  section .section .numbers .container1 {
    justify-content: space-around;
  }
  section .section .numbers .container1 .number .content {
    margin-left: 15px;
  }
  section .section .numbers .container1 .number .content .numb {
    font-size: 1em;
  }
}
@media screen and (max-width: 940px) {
  h2 {
    font-size: 1.9em;
  }

  section .section .numbers .container1 {
    padding: 70px 9% 70px 6%;
  }
  section .section .numbers .container1 .number {
    margin: 15px;
  }
  section .section .numbers .container1 .number .content {
    margin-left: 10px;
  }
  section .section .numbers .container1 .number .content .numb {
    font-size: 0.9em;
  }
  section .section .aboutMe {
    flex-direction: column;
    justify-content: center;
  }
  section .section .aboutMe_img {
    width: 80%;
  }
  section .section .aboutMe_box {
    width: 100%;
    max-height: 50%;
    padding: 100px 6.4%;
  }
  section .section .aboutMe_box__content {
    max-width: none;
    text-align: center;
  }
  section .section .needAProject {
    min-height: 100px;
  }
  section .section .needAProject_box {
    max-width: 600px;
    width: 80%;
    min-height: 100px;
    padding: 73px 0 66px;
  }
  section .section .contacts .contact-info h2 {
    padding-bottom: 32px;
  }
  section .section .contacts .contact-info p {
    padding-bottom: 18px;
  }
  section .section .contacts .contact-info address {
    font-size: 0.9em;
  }
  section .section .contacts .contact-info address strong {
    padding-right: 0;
    font-size: 0.9em;
  }
  section .section #map {
    height: 420px;
  }

  footer .footer .content .content1 {
    width: 23.4%;
  }
  footer .footer .content .content1 h5 {
    padding-bottom: 15px;
  }
  footer .footer .content .content2 {
    width: 17.4%;
    left: 10%;
  }
  footer .footer .content .content3 {
    width: 19.5%;
    left: 22.7%;
  }
  footer .footer .content .content4 {
    width: 13.4%;
    left: 31.6%;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.9em;
  }

  h5 {
    font-size: 1.4em;
  }

  p {
    font-size: 0.9em;
  }

  header .header .header-menu a {
    font-size: 0.8em;
  }

  section .section .header-title {
    padding: 45px 10px 60px;
  }
  section .section .banner__text {
    padding: 80px 20px 74px;
  }
  section .section .banner__text h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  section .section .banner__text h5 {
    font-size: 1em;
  }
  section .section .contacts {
    padding: 60px 7.1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section .section .contacts .contact-info {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  section .section .contacts .contact-info h2 {
    text-align: center;
    padding-bottom: 25px;
  }
  section .section .contacts .contact-info p {
    font-size: 1.3em;
    text-align: left;
    padding-bottom: 13px;
  }
  section .section .contacts .contact-info address {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 20px;
  }
  section .section .contacts .contact-info address strong {
    font-size: 0.8em;
  }
  section .section .contacts .contact-form {
    width: 100%;
    min-height: 410px;
  }
  section .section .contacts .contact-form .contact-form-name {
    float: left;
  }
  section .section .map-block {
    padding-bottom: 60px;
  }
  section .section #map {
    height: 400px;
  }

  footer .footer {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  footer .footer .content {
    padding: 0 7.1%;
    display: flex;
    flex-direction: column;
  }
  footer .footer .content .content1 {
    width: 100%;
    position: static;
    text-align: center;
    padding-bottom: 20px;
  }
  footer .footer .content .content1 h5 {
    font-size: 2em;
    padding-bottom: 20px;
  }
  footer .footer .content .content1 p {
    font-size: 1.5em;
    line-height: 33px;
  }
  footer .footer .content .content2 {
    color: #bcbcbc;
    width: 100%;
    position: static;
    padding-bottom: 20px;
    text-align: center;
  }
  footer .footer .content .content2 p {
    font-size: 1.5em;
    line-height: 33px;
  }
  footer .footer .content .content3 {
    width: 60%;
    position: static;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  footer .footer .content .content3 p {
    font-size: 1.5em;
    line-height: 33px;
  }
  footer .footer .content .content4 {
    width: 100%;
    position: static;
    padding-bottom: 20px;
    text-align: center;
  }
  footer .footer .content .content4 p {
    font-size: 1.5em;
    line-height: 33px;
  }
}
@media screen and (max-width: 698px) {
  h2 {
    font-size: 1.45em;
  }

  p {
    font-size: 0.8em;
  }

  header .header .header-logo .logo-item img {
    width: 18px;
  }

  section .section .work-row div:nth-child(2n+1) {
    background-color: #838383;
  }
  section .section .work-row div:nth-child(2n) {
    background-color: #dddddd;
  }
  section .section .work-row div:hover {
    background-color: #10c9c3;
    opacity: 0.85;
  }
  section .section .numbers .container1 {
    padding: 45px 9% 45px 6%;
  }
  section .section .needAProject_box .needAProject__text h2 {
    font-size: 1.6em;
  }
  section .section .contacts {
    padding: 40px 7.1%;
  }
  section .section .contacts .contact-info h2 {
    padding-bottom: 22px;
  }
  section .section .contacts .contact-info p {
    padding-bottom: 11px;
  }
  section .section .contacts .contact-info address {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
  section .section .contacts .contact-info address strong {
    font-size: 1.1em;
  }
  section .section .contacts .contact-form .form-text {
    font-size: 12px;
  }
  section .section .contacts .contact-form .contact-form-name {
    width: 97%;
    height: 48px;
    margin-bottom: 30px;
  }
  section .section .contacts .contact-form .contact-form-mail {
    width: 97%;
    height: 48px;
  }
  section .section .contacts .contact-form .contact-form-title {
    height: 48px;
    margin-top: 30px;
  }
  section .section .contacts .contact-form .contact-form-comment {
    height: 155px;
    border: none;
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  section .section .map-block {
    padding-bottom: 40px;
  }
  section .section #map {
    height: 340px;
  }
}
@media screen and (max-width: 570px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.35em;
  }

  p {
    font-size: 1.2em;
  }

  section .section .banner__text {
    padding: 55px 10px 48px;
  }
  section .section .banner__text h1 {
    font-size: 1.6em;
    margin-bottom: 25px;
  }
  section .section .banner__text h5 {
    font-size: 0.9em;
  }
  section .section .needAProject_box {
    padding: 53px 0 45px;
  }
  section .section .needAProject_box .needAProject__text h2 {
    font-size: 1.4em;
  }
  section .section .needAProject_box .needAProject__text p {
    font-size: 1em;
    max-height: 100px;
  }
  section .section .contacts .contact-info h2 {
    padding-bottom: 20px;
  }
  section .section .contacts .contact-info p {
    padding-bottom: 10px;
  }
  section .section .contacts .contact-info address {
    font-size: 1.2em;
  }
  section .section .contacts .contact-info address strong {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 528px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }

  section .section .aboutMe_img {
    min-height: 390px;
  }
  section .section .aboutMe_box {
    padding: 65px 0;
    width: 80%;
  }
  section .section .needAProject_box .needAProject__text h2 {
    font-size: 1.2em;
    margin-bottom: 25px;
  }
  section .section .needAProject_box .needAProject__text p {
    max-height: 200px;
    margin-bottom: 25px;
  }
  section .section .needAProject_box a button {
    width: 50%;
  }
  section .section .contacts .contact-info p {
    font-size: 1em;
  }
  section .section .contacts .contact-info address {
    padding-bottom: 0;
    font-size: 1em;
  }
  section .section .contacts .contact-info address strong {
    font-size: 0.9em;
  }
  section .section .map-block {
    padding-bottom: 30px;
  }
  section .section #map {
    height: 260px;
  }
}
@media screen and (max-width: 390px) {
  h1 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.55em;
  }

  header .header .header-menu a {
    font-size: 0.7em;
  }
  header .header .header-menu-item {
    width: 78px;
  }
  header .header .header-menu-item:nth-child(2) {
    width: 66px;
  }
  header .header .header-menu-item:nth-child(3) {
    width: 76px;
  }
  header .header .header-menu-item:nth-child(4) {
    width: 0;
  }

  section .section .header-title {
    padding: 30px 10px 40px;
  }
  section .section .header-title .nameSite1 {
    line-height: 35px;
  }
  section .section .header-title .nameSite2 {
    line-height: 21px;
  }
  section .section .banner__text {
    padding: 44px 10px 38px;
  }
  section .section .banner__text h1 {
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  section .section .banner__text h5 {
    font-size: 0.8em;
  }
  section .section .aboutMe_img {
    width: 100%;
    min-height: 300px;
  }
  section .section .aboutMe_box {
    padding: 40px 0;
    width: 80%;
  }
  section .section .aboutMe_box__content h2 {
    margin-bottom: 30px;
  }
  section .section .needAProject_box a button {
    width: 60%;
    height: 36px;
  }
  section .section .contacts {
    padding: 20px 7.1%;
  }
  section .section .contacts .contact-info p {
    font-size: 0.8em;
  }
  section .section .contacts .contact-info address {
    font-size: 0.8em;
  }
  section .section .contacts .contact-info address strong {
    font-size: 0.7em;
  }
  section .section .map-block {
    padding-bottom: 20px;
  }
  section .section #map {
    height: 180px;
  }

  footer .footer .content .content1 h5 {
    font-size: 1.5em;
  }
  footer .footer .content .content1 p {
    font-size: 1.2em;
  }
  footer .footer .content .content2 p {
    font-size: 1.2em;
  }
  footer .footer .content .content3 {
    width: 80%;
  }
  footer .footer .content .content3 p {
    font-size: 1.1em;
  }
  footer .footer .content .content4 p {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.39em;
  }

  header .header {
    min-width: 60px;
    min-height: 180px;
  }
  header .header .header-logo {
    margin: auto 7.2%;
  }
  header .header .header-logo .logo-item img {
    width: 36px;
  }
  header .header .header-logo.responsive {
    position: absolute;
    top: 25px;
    left: 2%;
  }
  header .header .header-menu-item:nth-child(4) {
    width: 98px;
  }
  header .header .header-menu a {
    display: none;
  }
  header .header .header-menu a.icon {
    float: right;
    display: block;
    color: #191919;
    font-size: 40px;
  }
  header .header .header-menu.responsive {
    position: absolute;
    display: inline-block;
    float: left;
    top: 60px;
    left: 8%;
    width: 100%;
  }
  header .header .header-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  header .header .header-menu.responsive a.icon {
    position: absolute;
    top: -36px;
  }

  section .section .banner__text {
    padding: 24px 10px 24px;
  }
  section .section .banner__text h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  section .section .banner__text h5 {
    max-height: 150px;
    font-size: 0.8em;
  }
  section .section .numbers .container1 {
    padding: 25px 9% 25px 6%;
  }
  section .section .numbers .container1 .number {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    max-height: 200px;
  }
  section .section .numbers .container1 .number span {
    margin: 10px auto;
  }
  section .section .numbers .container1 .number .content {
    margin: 0;
  }
  section .section .numbers .container1 .number .content .numb {
    text-align: center;
  }
  section .section .numbers .container1 .number .content .text {
    font-size: 0.65em;
  }
  section .section .aboutMe_box {
    padding: 30px 0;
  }
  section .section .aboutMe_box__content h2 {
    margin-bottom: 25px;
  }
  section .section .aboutMe_box__content img {
    width: 90%;
  }
  section .section .contacts .contact-form .btn {
    width: 100%;
    font-size: 10px;
  }
  section .section .map-block {
    padding-bottom: 15px;
  }
  section .section #map {
    height: 120px;
  }
}

/*# sourceMappingURL=stylescss.css.map */
