@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  min-width: 200px;
  margin: auto;
}

header {
  background-color: #fff;

  .header {
    max-width: 1366px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      width: 2.2%;
      margin-top: 38px;
      margin-left: 7.2%;
      margin-bottom: 37px;

      .logo-item {
        display: block;
        max-width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .header-menu {
      list-style: none;
      margin-top: 45px;
      margin-bottom: 46px;
      padding-right: 7%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;

      &-item {
        width: 98px;
      }

      &-item:nth-child(2) {
        width: 76px;
      }

      &-item:nth-child(3) {
        width: 96px;
      }

      &-item:nth-child(4) {
        width: 0;
      }

      a {
        float: right;
        color: #191919;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.9px;
        font-weight: bold;

        &:hover {
          color: #10c9c3;
          letter-spacing: 1.2px;
        }
      }

      #menu:hover {
        color: #10c9c3;
        letter-spacing: normal;
      }

      .icon {
        display: none;
      }
    }
  }
}

section {
  background-color: #f5f5f5;

  .section {
    max-width: 1366px;
    width: 100%;
    margin: auto;

    .header-title {
      background: #f6f6f6;
      padding-top: 77px;
      padding-bottom: 92px;

      .nameSite1 {
        font-family: "Montserrat", sans-serif;
        padding-bottom: 3px;
        text-align: center;
        margin: auto;
        color: #171717;
        font-weight: 500;
        line-height: 84px;
        letter-spacing: -1px;
      }

      .nameSite2 {
        color: #787878;
        text-align: center;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.3px;
      }
    }

    .work-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div {
        flex: 1 1 341px;
        height: 300px;
        background-color: #838383;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: auto;
          height: 100%;
          flex-shrink: 0;

          &:hover {
            background-color: #10c9c3;
            opacity: 0.75;
          }
        }

        &:nth-child(8n+1) {
          background-color: #dddddd;
        }

        &:nth-child(8n+3) {
          background-color: #dddddd;
        }

        &:nth-child(8n+6) {
          background-color: #dddddd;
        }

        &:nth-child(8n+8) {
          background-color: #dddddd;
        }

        &:hover {
          background-color: #10c9c3;
        }
      }
    }

    .banner {
      width: 100%;
      max-height: 350px;
      background-image: url(../img/task36bgc-1.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      background-color: #7e7e7e;
      color: #fff;

      &__text {
        max-width: 512px;
        margin: 0 auto;
        padding: 112px 0 116px;
        text-align: center;

        h1 {
          font-family: 'Montserrat', sans-serif;
          max-height: 30px;
          font-weight: bold;
          letter-spacing: 0.38px;
          margin-bottom: 40px;
        }

        h5 {
          max-height: 44px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }

    .numbers {
      width: 100%;
      min-height: 240px;
      background-color: #10c9c3;
      color: #fff;

      .container1 {
        padding: 101px 14.7% 101px 7.6%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .number {
          max-width: 231px;
          max-height: 38px;
          display: flex;

          span {
            max-width: 40px;
            max-height: 100%;
            display: flex;
            align-items: center;
          }

          .content {
            max-width: 164px;
            height: 100%;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            text-align: left;
            margin-left: 30px;

            .numb {
              letter-spacing: 0.54px;
            }

            .text {
              font-size: 12px;
            }
          }
        }
      }
    }

    .aboutMe {
      width: 100%;
      min-height: 570px;
      display: flex;
      align-items: center;
      background-color: #f5f5f5;

      &_img {
        margin: 0;
        padding: 0;
        width: 50%;
        min-height: 570px;
        height: auto;
        background-image: url(../img/img_5.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        background-color: #7e7e7e;
      }

      &_box {
        width: 50%;
        max-height: 100%;
        padding: 0 6.4%;

        &__content {
          max-width: 454px;
          min-height: 290px;
          text-align: left;

          h2 {
            max-height: 22px;
            color: #171717;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: 0.3px;
            margin-bottom: 40px;
          }

          p {
            color: #787878;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 27px;
          }

          img {
            max-height: 57px;
          }
        }
      }
    }

    .needAProject {
      width: 100%;
      min-height: 397px;
      background-color: #fff;

      &_box {
        max-width: 537px;
        min-height: 194px;
        margin: 0 auto;
        padding: 103px 0 100px;
        text-align: center;

        .needAProject__text {
          text-align: center;

          h2 {
            max-height: 29px;
            color: #1d1d1d;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 35px;
            font-weight: bold;
          }

          p {
            max-height: 38px;
            color: #787878;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 38px;
          }
        }

        a button {
          width: 176px;
          height: 50px;
          background-color: #10c9c3;
          border: 2px solid #10c9c3;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1.2px;

          &:hover {
            border: 2px solid black;
          }
        }
      }
    }

    .contacts {
      min-height: 410px;
      padding: 100px 7.1%;
      display: flex;
      justify-content: space-between;

      .contact-info {
        width: 31.5%;
        min-height: 309px;

        h2 {
          color: #171717;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          text-align: left;
          max-height: 22px;
          padding-bottom: 41px;
        }

        p {
          color: #787878;
          font-weight: 400;
          line-height: 24px;
          font-style: normal;
          text-align: left;
          padding-bottom: 20px;
          letter-spacing: 0.08px;
        }

        address {
          color: #787878;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 0.08px;
          text-align: left;
          line-height: 36px;

          strong {
            color: #171717;
            font-weight: 700;
            letter-spacing: 0.2px;
            padding-right: 3px;
          }
        }
      }

      .contact-form {
        width: 57.3%;
        min-height: 410px;

        .form-text {
          font-size: 15px;
          padding-left: 3%;
          color: #787878;
        }

        .contact-form-name {
          width: 44.7%;
          height: 48px;
          border: none;
        }

        .contact-form-mail {
          width: 44.7%;
          height: 48px;
          border: none;
          float: right;
        }

        .contact-form-title {
          width: 97%;
          height: 48px;
          border: none;
          margin-top: 30px;
        }

        .contact-form-comment {
          width: 97%;
          height: 155px;
          border: none;
          padding-top: 15px;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        .btn {
          width: 180px;
          height: 54px;
          background-color: #10c9c3;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          color: #ffffff;
          font-weight: 500;
          font-size: 12px;
          text-align: center;
          letter-spacing: 1.2px;
          border: 2px solid #10c9c3;

          &:hover {
            border: 2px solid #333333;
          }
        }
      }
    }

    .map-block {
      padding: 0 7.1% 100px;
    }

    #map {
      background-color: #e0e0e0;
      width: 100%;
      height: 470px;
    }
  }
}

footer {
  background-color: #141414;

  .footer {
    max-width: 1366px;
    width: 100%;
    margin: auto;
    color: #bcbcbc;
    padding-top: 93px;
    padding-bottom: 100px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: #fff;
      }
    }

    .content {
      padding-left: 7.19%;
      padding-right: 9.6%;
      display: flex;

      .content1 {
        width: 22%;
        position: relative;
        left: 0;
        top: 2px;

        h5 {
          padding-bottom: 21px;
          font-family: "Montserrat", sans-serif;
          color: #fff;
          font-weight: 500;
        }

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }

      .content2 {
        width: 13.4%;
        position: relative;
        left: 19.5%;

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }

      .content3 {
        width: 14.5%;
        position: relative;
        left: 32.2%;
        display: flex;
        justify-content: space-between;

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }

      .content4 {
        width: 13.4%;
        position: relative;
        left: 44.1%;

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  section .section .work-row div {
    &:nth-child(2n+1) {
      background-color: #838383;
    }

    &:nth-child(2n) {
      background-color: #dddddd;
    }

    &:hover {
      background-color: #10c9c3;
      opacity: 0.85;
    }
  }
}

@media screen and (max-width: 1034px) {
  section .section {
    .work-row div {
      &:nth-child(4n+1) {
        background-color: #838383;
      }

      &:nth-child(4n+2) {
        background-color: #dddddd;
      }

      &:nth-child(4n+3) {
        background-color: #dddddd;
      }

      &:nth-child(4n+4) {
        background-color: #838383;
      }

      &:hover {
        background-color: #10c9c3;
        opacity: 0.85;
      }
    }

    .numbers .container1 {
      justify-content: space-around;

      .number {
        .content {
          margin-left: 15px;

          .numb {
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  h2 {
    font-size: 1.9em;
  }
  p {
  }
  section .section {
    .numbers .container1 {
      padding: 70px 9% 70px 6%;

      .number {
        margin: 15px;

        .content {
          margin-left: 10px;

          .numb {
            font-size: 0.9em;
          }

          .text {
          }
        }
      }
    }

    .aboutMe {
      flex-direction: column;
      justify-content: center;

      &_img {
        width: 80%;
      }

      &_box {
        width: 100%;
        max-height: 50%;
        padding: 100px 6.4%;

        &__content {
          max-width: none;
          text-align: center;
        }
      }
    }

    .needAProject {
      min-height: 100px;

      &_box {
        max-width: 600px;
        width: 80%;
        min-height: 100px;
        padding: 73px 0 66px;
      }
    }

    .contacts {
      .contact-info {
        h2 {
          padding-bottom: 32px;
        }

        p {

          padding-bottom: 18px;
        }

        address {
          font-size: 0.9em;

          strong {
            padding-right: 0;
            font-size: 0.9em;
          }
        }
      }
    }

    #map {
      height: 420px;
    }
  }

  footer .footer .content {
    .content1 {
      width: 23.4%;

      h5 {
        padding-bottom: 15px;
      }
    }

    .content2 {
      width: 17.4%;
      left: 10%;
    }

    .content3 {
      width: 19.5%;
      left: 22.7%;
    }

    .content4 {
      width: 13.4%;
      left: 31.6%;
    }
  }
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.1em;
  }
  h2 {
    font-size: 1.9em;
  }
  h5 {
    font-size: 1.4em;
  }
  p {
    font-size: 0.9em;
  }
  header .header .header-menu a {
    font-size: 0.8em;
  }
  section .section {
    .header-title {
      padding: 45px 10px 60px;
    }

    .banner {
      &__text {
        padding: 80px 20px 74px;

        h1 {
          font-size: 2em;
          margin-bottom: 30px;
        }

        h5 {
          font-size: 1em;
        }
      }
    }

    .contacts {
      padding: 60px 7.1%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .contact-info {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;

        h2 {
          text-align: center;
          padding-bottom: 25px;
        }

        p {
          font-size: 1.3em;
          text-align: left;
          padding-bottom: 13px;
        }

        address {
          font-size: 1.2em;
          text-align: center;
          padding-bottom: 20px;

          strong {
            font-size: 0.8em;
          }
        }
      }

      .contact-form {
        width: 100%;
        min-height: 410px;

        .contact-form-name {
          float: left;
        }
      }
    }

    .map-block {
      padding-bottom: 60px;
    }

    #map {
      height: 400px;
    }
  }

  footer .footer {
    padding-top: 60px;
    padding-bottom: 70px;

    .content {
      padding: 0 7.1%;
      display: flex;
      flex-direction: column;

      .content1 {
        width: 100%;
        position: static;
        text-align: center;
        padding-bottom: 20px;

        h5 {
          font-size: 2em;
          padding-bottom: 20px;
        }

        p {
          font-size: 1.5em;
          line-height: 33px;
        }
      }

      .content2 {
        color: #bcbcbc;
        width: 100%;
        position: static;
        padding-bottom: 20px;
        text-align: center;

        p {
          font-size: 1.5em;
          line-height: 33px;
        }
      }

      .content3 {
        width: 60%;
        position: static;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding-bottom: 20px;

        p {
          font-size: 1.5em;
          line-height: 33px;
        }
      }

      .content4 {
        width: 100%;
        position: static;
        padding-bottom: 20px;
        text-align: center;

        p {
          font-size: 1.5em;
          line-height: 33px;
        }
      }
    }
  }
}

@media screen and (max-width: 698px) {
  h2 {
    font-size: 1.45em;
  }
  p {
    font-size: 0.8em;
  }
  header .header {
    .header-logo {
      .logo-item {
        img {
          width: 18px;
        }
      }
    }
  }
  section .section {
    .work-row div {
      &:nth-child(2n+1) {
        background-color: #838383;
      }

      &:nth-child(2n) {
        background-color: #dddddd;
      }

      &:hover {
        background-color: #10c9c3;
        opacity: 0.85;
      }
    }

    .numbers .container1 {
      padding: 45px 9% 45px 6%;
    }

    .needAProject {
      &_box {
        .needAProject__text h2 {
          font-size: 1.6em;
        }
      }
    }

    .contacts {
      padding: 40px 7.1%;

      .contact-info {
        h2 {
          padding-bottom: 22px;
        }

        p {
          padding-bottom: 11px;
        }

        address {
          padding-bottom: 10px;
          font-size: 1.2em;

          strong {
            font-size: 1.1em;
          }
        }
      }

      .contact-form {
        .form-text {
          font-size: 12px;
        }

        .contact-form-name {
          width: 97%;
          height: 48px;
          margin-bottom: 30px;
        }

        .contact-form-mail {
          width: 97%;
          height: 48px;
        }

        .contact-form-title {
          height: 48px;
          margin-top: 30px;
        }

        .contact-form-comment {
          height: 155px;
          border: none;
          padding-top: 15px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }

    .map-block {
      padding-bottom: 40px;
    }

    #map {
      height: 340px;
    }
  }
}

@media screen and (max-width: 570px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.35em;
  }
  p {
    font-size: 1.2em;
  }

  section .section {
    .banner {
      &__text {
        padding: 55px 10px 48px;

        h1 {
          font-size: 1.6em;
          margin-bottom: 25px;
        }

        h5 {
          font-size: 0.9em;
        }
      }
    }

    .needAProject {
      &_box {
        padding: 53px 0 45px;

        .needAProject__text {
          h2 {
            font-size: 1.4em;
          }

          p {
            font-size: 1em;
            max-height: 100px;
          }
        }
      }
    }

    .contacts {
      .contact-info {
        h2 {
          padding-bottom: 20px;
        }

        p {
          padding-bottom: 10px;
        }

        address {
          font-size: 1.2em;

          strong {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 528px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.2em;
  }
  p {
    font-size: 1.2em;
  }

  section .section {
    .aboutMe {
      &_img {
        min-height: 390px;
      }

      &_box {
        padding: 65px 0;
        width: 80%;
      }
    }

    .needAProject {
      &_box {
        .needAProject__text {
          h2 {
            font-size: 1.2em;
            margin-bottom: 25px;
          }

          p {
            max-height: 200px;
            margin-bottom: 25px;
          }
        }

        a button {
          width: 50%;
        }
      }
    }

    .contacts .contact-info {
      p {
        font-size: 1em;
      }

      address {
        padding-bottom: 0;
        font-size: 1em;

        strong {
          font-size: 0.9em;
        }
      }
    }

    .map-block {
      padding-bottom: 30px;
    }

    #map {
      height: 260px;
    }
  }


}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.55em;
  }
  header .header {
    .header-menu {
      a {
        font-size: 0.7em;
      }

      &-item {
        width: 78px;
      }

      &-item:nth-child(2) {
        width: 66px;
      }

      &-item:nth-child(3) {
        width: 76px;
      }

      &-item:nth-child(4) {
        width: 0;
      }
    }
  }

  section .section {
    .header-title {
      padding: 30px 10px 40px;

      .nameSite1 {
        line-height: 35px;
      }

      .nameSite2 {
        line-height: 21px;
      }
    }

    .banner {
      &__text {
        padding: 44px 10px 38px;

        h1 {
          font-size: 1.4em;
          margin-bottom: 15px;
        }

        h5 {
          font-size: 0.8em;
        }
      }
    }

    .aboutMe {
      &_img {
        width: 100%;
        min-height: 300px;
      }

      &_box {
        padding: 40px 0;
        width: 80%;

        &__content {
          h2 {
            margin-bottom: 30px;
          }
        }
      }
    }

    .needAProject {
      &_box {
        a button {
          width: 60%;
          height: 36px;
        }
      }
    }

    .contacts {
      padding: 20px 7.1%;

      .contact-info {
        p {
          font-size: 0.8em;
        }

        address {
          font-size: 0.8em;

          strong {
            font-size: 0.7em;
          }
        }
      }
    }

    .map-block {
      padding-bottom: 20px;
    }

    #map {
      height: 180px;
    }
  }

  footer .footer {
    .content {
      .content1 {
        h5 {
          font-size: 1.5em;
        }

        p {
          font-size: 1.2em;
        }
      }

      .content2 p {
        font-size: 1.2em;
      }

      .content3 {
        width: 80%;

        p {
          font-size: 1.1em;
        }
      }

      .content4 p {
        font-size: 1.1em;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.39em;
  }
  header .header {
    min-width: 60px;
    min-height: 180px;

    .header-logo {
      margin: auto 7.2%;

      .logo-item {
        img {
          width: 36px;
        }
      }
    }

    .header-logo.responsive {
      position: absolute;
      top: 25px;
      left: 2%;
    }

    .header-menu {
      &-item:nth-child(4) {
        width: 98px;
      }

      a {
        display: none;

        &.icon {
          float: right;
          display: block;
          color: #191919;
          font-size: 40px;
        }
      }
    }

    .header-menu.responsive {
      position: absolute;
      display: inline-block;
      float: left;
      top: 60px;
      left: 8%;
      width: 100%;

      a {
        float: none;
        display: block;
        text-align: left;

        &.icon {
          position: absolute;
          top: -36px;
        }
      }
    }
  }

  section .section {
    .banner {
      &__text {
        padding: 24px 10px 24px;

        h1 {
          font-size: 1.2em;
          margin-bottom: 10px;
        }

        h5 {
          max-height: 150px;
          font-size: 0.8em;
        }
      }
    }

    .numbers .container1 {
      padding: 25px 9% 25px 6%;

      .number {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        max-height: 200px;

        span {
          margin: 10px auto;
        }

        .content {
          margin: 0;

          .numb {
            text-align: center;
          }

          .text {
            font-size: 0.65em;
          }
        }
      }
    }

    .aboutMe {
      &_box {
        padding: 30px 0;

        &__content {
          h2 {
            margin-bottom: 25px;
          }

          img {
            width: 90%;
          }
        }
      }
    }

    .contacts .contact-form .btn {
      width: 100%;
      font-size: 10px;
    }

    .map-block {
      padding-bottom: 15px;
    }

    #map {
      height: 120px;
    }
  }
}
