.check_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check {
    display: block;
    margin-bottom: 1.5em;
    padding-left: 40%;
}

.check_box::before {
    content: "   \00A0";
    display: inline-block;
    width: 5em;
    height: 2em;
    background-color: lemonchiffon;
    box-shadow: 0 0 0 0.1em darkcyan;
    border-radius: 50%;
    margin-right: 6px;
    padding-top: 0.5em;
    vertical-align: baseline;
    transform: rotate(15deg);

    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;

}

.check_input:checked + .check_box::before {
    content: "Yes\2714";

    color: lemonchiffon;
    background-color: darkcyan;
}

.check_input:focus + .check_box::before {
    box-shadow: 0 0 0 0.1em darkcyan,
    0 0 0 0.2em #80bdff;
    transform: rotate(0);
}

.check_input:hover + .check_box::before {
    box-shadow: 0 0 0 0.1em darkcyan,
    0 0 0 0.2em mediumslateblue;
    transform: rotate(0);
}

.check_input:disabled + .check_box::before {
    box-shadow: 0 0 0 0.1em dimgrey;
    transform: rotate(15deg);
}

.check_input:checked:disabled + .check_box::before {
    background-color: dimgrey;
    transform: rotate(15deg);
}

.radiobutton::before {
    content: "No!\00A0";
    color: darkcyan;
}

